@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.header {
  position: absolute;
  top: 96px;
  width: 100%;
  z-index: 4;
  height: 0;

  .logo {
    a {
      font-size: 1.2rem;
      letter-spacing: 0.5rem;
      color: $black;
      text-decoration: none;
      font-weight: 700;
    }
  }
  .nav-toggle {
    position: relative;
    display: flex;
    z-index: 4;
    width: 20px;
    margin-right: 16px;

    justify-content: center;
    align-items: center;
    @include media('>phone') {
      margin-right: 16px;
    }
    @include media('>tablet') {
      margin-right: 24px;
    }
  }
}

.hamburger {
  position: relative;

  &:hover {
    .about-me {
      opacity: 1;
    }
  }

  .about-me {
    position: absolute;
    font-size: 1rem;
    width: 70px;
    right: 0;
    bottom: -10px;
    transform: translateX(-10%);
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  button {
    transform-origin: center;
    border: none;
    padding: 20px;
    background: none;
    outline: none;
    span {
      width: 36px;
      height: 4px;
      display: block;
      background-color: black;
      margin: 8px;
    }
  }
}
