@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.tech-description-wrapper {
  .category-container {
    padding: 60px 0;

    .category-title {
      font-weight: 500;
      font-size: 6vw;
      padding: 0 30px 10px;
      margin-bottom: 0;

      @include media('>550px') {
        text-align: center;
      }
    }
    .skill-container {
      color: #cacaca;
      border-bottom: 1px solid #cacaca;
      height: 85px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      padding: 0 30px;

      @include media('>550px') {
        padding: 0 17vw;
      }

      @include media('>desktop') {
        height: 100px;
        padding: 0 22vw;
      }
      .skill-overlay {
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
        background: #000;
        position: absolute;
        transform: translateY(-100%);
      }

      &.first-skill {
        border-top: 1px solid #cacaca;
      }
      .skill-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        h2 {
          font-size: 25px;
          font-weight: 300;
          margin: 25px 0;
          letter-spacing: 0.5vw;

          @include media('>550px') {
            font-size: 35px;
          }

          @include media('>desktop') {
            font-size: 45px;
          }
        }
        svg {
          transform: rotate(90deg);
          border: 2px solid #cacaca;
          border-radius: 100%;
          padding: 7px;
          box-sizing: content-box;
          @include media('>tablet') {
            margin-right: 5vw;
          }
          @include media('>desktop') {
            margin-right: 10vw;
          }
        }
      }
    }
    .skill-description {
      font-size: 1.1rem;
      letter-spacing: 0.2px;
      line-height: 19px;

      @include media('>tablet') {
        font-size: 1.3rem;
        line-height: 24px;
      }

      @include media('>desktop') {
        padding-right: 10vw;
      }
    }
  }
}
